/*
    * === ATTACHMENT PREVIEW ===
*/

/* parent container */
._2aMzp ._10V4p._1jxtm {
    margin-top: 80px !important;
}

/* header container */
._1WD8C {
    background: #ededed !important;
    color: #000 !important;
}

/* cancel button */
.qfKkX path {
    fill: #000 !important;
}

/* iamage */
._13fQ2 .UAI6v {
    border-radius: 12px !important;
}

/* caption container */
._3ogpF {
    padding: 10px 20px !important;
    border-radius: 12px !important;
    background: #ededed !important;
    border: solid 1px #ffffff !important;
    box-shadow:
        7px 7px 14px #c9c9c9,
        -7px -7px 14px #ffffff !important;
}

/* 'add caption' text */
.Am8s6 {
    display: none !important;
}

/* bottom image list container */
.NeQRT {
    padding: unset !important;
    background: #ededed !important;
}

/* image parent container */
._1xNi6 {
    margin-right: 12px !important;
}

/* image container */
._1gcLL:after,
._1gcLL:after {
    border-radius: 10px !important;
}

/* image inner container */
._1gcLL ._2sn3C {
    border-radius: 10px !important;
}

._1gcLL ._2sn3C:after {
    border-radius: 10px !important;
}

/* image hover x */
._2sn3C:before {
    border-radius: 10px !important;
}

/* add file button container */
._3fktq,
._3fktq {
    border-radius: 10px !important;
}