/*
    * === CHATBOX COMPOSE ===
*/

/* parent container */
._1N6pS {
    background: unset !important;
}

/* container */
._2i7Ej {
    border-left: unset !important;
    padding: 15px !important;
    background: unset !important;
}

/* input container */
._13mgZ {
    border-radius: 12px !important;
    background: #ededed !important;
    border: solid 1px #ffffff !important;
    box-shadow:
        7px 7px 14px #c9c9c9,
        -7px -7px 14px #ffffff !important;
}

/*
    * === CHATBOX REPLY ===
*/

/* parent container */
._30sf0 {
    border-left: unset !important;
}

/* inner container */
._1ebw2 {
    padding-top: unset !important;
    background: #ededed !important;
}

/* container */
.FkdAD {
    margin-left: 70px !important;
    margin-right: 21px !important;
    border-radius: 12px !important;
    background: #ededed !important;
    box-shadow:
        inset 2px 2px 0px #c9c9c9,
        inset -2px -2px 0px #ffffff !important;
}

/* cancel button */
.OWYLS {
    width: unset !important;
    min-width: unset !important;
    background: unset !important;
    margin-right: 25px !important;
}