/*
    * === CHATBOX MESSAGES ===
*/

/* parent container (row) */
.FTBzM {
    margin-bottom: 20px !important;
    padding: 0 70px !important;
}

/* container */
.FTBzM ._1zGQT {
    color: #000 !important;
}

/* inner container */
.message-in ._2Wx_5,
.message-out ._2Wx_5 {
    border-radius: 12px !important;
    border: solid 1px #ffffff;
    box-shadow:
        7px 7px 14px #c9c9c9,
        -7px -7px 14px #ffffff !important;
}

/* tail container */
.FTBzM .tail-container {
    display: none !important;
}

/* contents container */
.FTBzM .-N6Gq {
    padding: 10px !important;
}

/* options container */
.FTBzM ._15CAo {
    height: 28px !important;
    width: 55px !important;
}

/* embeded replied-to parent container */
.message-in ._2FaAB,
.message-out ._2FaAB {
    margin: 10px 0 !important;
}

/* embeded replied-to container */
.message-in ._2HTIU,
.message-out ._2HTIU {
    border-radius: 12px !important;
}

/*
    * === INCOMING MESSAGES ===
*/

/* container */
.message-in ._2Wx_5 {
    background: #ededed !important;
}

/* options container */
.message-in ._15CAo._2Nkc4 {
    background: #ededed !important;
}

/* embeded replied-to container */
.message-in ._2HTIU {
    border-radius: 12px !important;
    background: #ededed !important;
    box-shadow:
        inset 2px 2px 0px #c9c9c9,
        inset -2px -2px 0px #ffffff !important;
}

/*
    * === OUTGOING MESSAGES ===
*/

/* container */
.message-out ._2Wx_5 {
    background: #c5ebca !important;
}

/* options container */
.message-out ._15CAo._3EQsG {
    background: #c5ebca !important;
}

/* embeded replied-to container */
.message-out ._2HTIU {
    background: #c5ebca !important;
    box-shadow:
        inset 2px 2px 0px #a7c8ac,
        inset -2px -2px 0px #e3ffe8 !important;
}