/*
    * === CONVERSATION LIST ===
*/

/* parent container */
._1YoG6 {
    margin: 20px 0  !important;
    background: #ededed !important;
}

/* list container */
._1rqO1 {
    background: #ededed !important;
}

/* conversation (name + latest message) container */
._2UaNq {
    background: #ededed !important;
    margin: 0 20px !important;
    border-radius: 12px !important;
}

._2UaNq:hover {
    background: #dcdcdc !important;
}

._2UaNq:hover:after {
    border: unset !important;
}

/* active conversation */
._2UaNq._3mMX1 {
    background: #dcdcdc !important;
}

/* conversation latest message container */
._2WP9Q {
    border-top: unset !important;
}

/* conversation icon */
._3vpWv {
    margin-top: unset !important;
    padding: 0 15px !important;
}