/*
    * === SIDEBAR SEARCH ===
*/

/* parent container */
._2vikl {
    background: #ededed !important;
}

/* inner container */
.ZP8RM {
    height: 60px !important;
}

.ZP8RM::after {
    border: unset !important;
    width: 0 !important;
}

/* content container */
.eiCXe {
    top: 12.5px !important;
    left: 35px !important;
    right: 35px !important;
    background: #ededed !important;
    border-radius: 12px !important;
    border: solid 1px #ffffff !important;
    box-shadow:
        3px 3px 9px #c9c9c9,
        -3px -3px 9px #ffffff !important;
}

/* inner container focused */
._19OGD {
    background: unset !important;
    box-shadow: unset !important;
}

/* icon */
._1XCAr {
    top: 18px !important;
    left: 47px !important;
}

/* input */
._183ES,
._201Bk {
    top: 20px !important;
    left: 88px !important;
}
