::-webkit-scrollbar {
    border-radius: 12px !important;
}

::-webkit-scrollbar-thumb {
    border-radius: 12px !important;
}

::-webkit-scrollbar-track {
    background: #ededed !important;
}

#initial_startup {
    background: #ededed !important;
}

/* on load progress bar */
progress {
    height: 30px !important;
    color: #c5ebca !important;
    overflow: hidden !important;
    padding: 10px !important;
    background: #ededed !important;
    border-radius: 12px !important;
    box-shadow:
        4px 4px 8px #c9c9c9,
        -4px -4px 8px #ffffff !important;
}

/*
    * === APP ===
*/

/* removes top banner behind app */
._1ccjW::after {
    background: unset !important;
}


/* container */
._1Jzz1 {
    box-shadow: unset !important;
    top: 0 !important;
    height: 100% !important;
    width: 100% !important;
}

/* icon container */
._3RWII {
    overflow: unset !important;
    height: 49px !important;
    width: 49px !important;
}

._3RWII img {
    border-radius: 18px !important;
    box-shadow:
        4px 4px 8px #c9c9c9,
        -4px -4px 8px #ffffff !important;
}

/*
    * === HOMEPAGE  ===
*/

/* container */
._1qNwV {
    border: unset !important;
    background: #ededed !important;
}

/*
    * === CHATBOX ===
*/

/* gets rid of the chat box wallpaper */
[data-asset-chat-background] {
    background-image: unset !important;
}

/* containers */
._1BdTk, ._1cJw0, .kqC9O {
    background: #ededed !important;
}

/* container */
.NuujD {
    background: #ededed !important;
}

/* inner container */
._1_keJ {
    border: unset !important;
}

/*
    * === SIDEBAR ===
*/

/* parent container */
._18-el {
    background: #ededed !important;
}